@print {
  margin: 0.5in;
}
body {
  background: transparent;
  font-family: serif;
  font-size: 12pt;
  color: black;
}
h1 {
  text-align: center;
  font-weight: bold;
}
header p {
  display: inline-block;
  margin-left: 1.7in;
}
nav {
  display: none;
}
h2 {
  font-weight: bold;
}
h3 {
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: black;
}
.address {
  position: absolute;
  right: 0;
}
footer {
  display: none;
}
