@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Salsa');
body {
  font-size: 16px;
  font-family: 'Vollkorn', serif;
  color: #222;
}
#container {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
}
header {
  background-image: url(../images/background.jpg);
  padding: 20px;
  margin-top: 20px;
}
h1 {
  text-align: center;
  font-family: 'Salsa', cursive;
}
header p {
  display: inline-block;
  margin-left: 250px;
  margin-bottom: 10px;
  font-weight: bold;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border-top: 2px solid black;
}
nav li {
  display: inline-block;
  margin-top: 20px;
  width: 220px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
main {
  margin-top: 20px;
}
section {
  width: 49%;
}
h2 {
  margin-top: 0;
  background-color: #A9E2F3;
  font-family: 'Salsa', cursive;
}
article {
  position: relative;
}
h3 {
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  color: #2E4053;
  text-decoration: none;
}
a:visited {
  color: #444;
}
a:hover {
  color: #2E86C1;
}
a:active {
  color: #85C1E9;
}
img {
  margin-top: 20px;
  margin-bottom: 20px;
}
#profile {
  float: left;
}
#introduction {
  float: left;
  clear: both;
  background-color: #FFE4C4;
}
#contact {
  float: right;
  background-color: #FFE4C4;
}
#education {
  float: left;
  height: 360px;
}
#workexperience {
  float: right;
  height: 360px;
}
#studentactivities {
  float: left;
  height: 380px;
}
#skills {
  float: right;
  height: 380px;
}
#research {
  float: left;
  height: 120px;
}
#certificates {
  float: right;
  height: 120px;
}
#magazine {
  float: left;
}
#newsletter {
  float: right;
}
#infographic {
  float: left;
  width: 100%;
}
#newyear {
  float: left;
}
#newyear p {
  margin-bottom: 10px;
}
#garbage {
  float: right;
}
#garbage p {
  margin-bottom: 10px;
}
.current {
  font-size: 30px;
}
.address {
  position: absolute;
  right: 0;
}
.caption {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.instructor {
  margin-bottom: 20px;
}
footer {
  float: left;
  overflow: auto;
  height: auto;
  margin-top: 30px;
  font-style: italic;
}
